* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'GmarketSansMedium';
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.reset-password-container {
  background: white;
  padding: 100px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}

.reset-password-form {
  display: flex;
  flex-direction: column;
}

.reset-password-input,
.reset-password-button {
  font-family: 'GmarketSansMedium';
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.reset-password-input:focus {
  border-color: #0056b3;
  outline: none;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.reset-password-button {
  padding: 10px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
}

.reset-password-button:hover {
  transform: scale(1.05);
  background-color: #0056b3;
}