<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 재설정</title>
    <link rel="stylesheet" href="/css/resetPassword.css"/>
</head>
<body>
<div class="reset-password-container">
    <form id="resetPasswordForm" method="post" action="/auth/reset-password" class="reset-password-form">
        <h1>비밀번호 재설정</h1>
        <input type="text" placeholder="ID" class="reset-password-input" name="user_id" id="user_id" required/>
        <input type="text" placeholder="이름" class="reset-password-input" name="user_name" id="user_name" required/>
        <div class="button-container">
            <button type="button" onclick="resetPassword()" class="reset-password-button">비밀번호 재설정</button>
        </div>
        <div class="button-container">
            <button type="button" onclick="location.href='/login'" class="reset-password-button">뒤로가기</button>
        </div>
    </form>
</div>
<script>
    function resetPassword() {
        const user_id = document.getElementById('user_id').value;
        const user_name = document.getElementById('user_name').value;
        if (!user_id) {
            alert('아이디를 입력해주세요.');
            return;
        }
        if(!user_name){
            alert('이름을 입력해주세요.');
            return;
        }

        fetch(`/reset-password/${user_id}/${user_name}`, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' }
        }).then(response => {
            if (response.ok) {
                return response.json();
            } else {
                throw new Error('비밀번호 재설정에 실패했습니다. ID와 비밀번호를 확인해 주세요');
            }
        }).then(data => {
            alert(`새 비밀번호는 ${data.newPassword} 입니다. 해당 비밀번호를 Ctrl + c 해서 로그인한 후 비밀번호를 변경해 주세요`);
        }).catch(error => {
            alert('비밀번호 재설정에 실패했습니다. ID와 비밀번호를 확인해 주세요');
        });
    }
</script>
</body>
</html>